{% extends 'base.html' %}
  

{% block content %}    
    {% for event in events %}
        <div class="container">
            <div class="row" style="pt-1"></div>

            <div class="card mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ event }}</h5>
                  <p class="card-text">{{ event.description }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
          
    {% endfor %}
{% endblock %}
    